body {
    background: green;
}

.left {
    width: 50%;
    float: left;
}

.right {
    width: 50%;
    float: right;
}

#header {
    color: white;
    text-align: center;
}

#bettingForm {
text-align: center;
}